body, html{
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: tahoma, arial;
}
.wrap{
  width: 100%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.col{
  width: 41%;
  padding: 1%;
  margin: 3% 1% 3% 5%;
  display: inline-block;
  min-height: 220px;
  vertical-align: top;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 3px #ccc;
}
.col.last{
  margin: 3% 5% 3% 1%;
}
.title{
  font-weight: 800;
  color: #69c;
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 1px 0px #fff, 2px 3px 0px #fff, 3px 3px 0px #fff, 4px 4px 0px #ccc;
}
.man-input{
  width: 60px;
  font-size: 7em;
  padding: 0px 30px 10px;
  margin-bottom: 0.5em;
  border: 14px solid #ccc;
}
.problem input, .guess input{
  display: inline-block;
  font-size: 28px;
  height: 48px;
  width: 40px;
  padding: 2px 8px 6px;
  margin: 3px 0px;
  border-radius: 2px;
  box-shadow: 1px 1px 0px #666;
}
.problem input{
  border-bottom: 2px solid #666;
}
.scores ul li{
  background: #F7A199;
  padding: 2px 4px;
  margin-bottom: 1px;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
}
.life{
  width: 100%;
  height: 20px;
  display: block;
  box-shadow: 0px 0px 1px #999;
  padding: 4px 0px;
}
.life div{
  width: 19%;
  background: #49C584;
  display: inline-block;
  height: 20px;
}
.life .lost{
  background: #FC6969;
}
.hint h3 b{
  background: #EBD118;
  padding: 2px 8px;
}